.home {
  .summary {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .imageContainer {
      img {
        height: 30rem;
        width: 45rem;
      }
    }
    .intro {
      h2 {
        position: relative;
        font-size: 2rem;
        // color: rgba(83, 83, 83, 0.752);
        -webkit-text-stroke: 0.1rem rgba(66, 66, 66, 0.752);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .home {
    .summary {
      .imageContainer {
        img {
          height: 20rem;
          width: 30rem;
        }
      }
    }
  }
}
