.home {
  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    .imageContainer {
      display: flex;
      justify-content: flex-end;
      .profileImage {
        border-radius: 50%;
        height: 50rem;
        width: 50rem;
        transition: opacity 1s;
      }
    }
    .summary {
      width: 100%;
      .intro {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: "Lunch Fox";
        font-weight: bold;
        width: fit-content;
        cursor: pointer;
        font-size: 10rem;
        background: -webkit-linear-gradient(#6260d8, #4cc0ff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
          background: -webkit-linear-gradient(#588fad, #06e8ef);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .role {
        font-size: 3rem;
        font-family: "Courier New", Courier, monospace;
      }
      .detail {
        font-family: "Lucida Sans", "Lucida Sans Regular";
        font-size: 2rem;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1080px) {
  .home {
    .profile {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1920px) {
  .home {
    .profile {
      .imageContainer {
        .profileImage {
          height: 70rem;
          width: 70rem;
        }
      }
      .summary {
        .intro {
          font-size: 15rem;
        }
        .role {
          font-size: 4.2rem;
        }
        .detail {
          font-size: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .home {
    .profile {
      .imageContainer {
        .profileImage {
          height: 30rem;
          width: 30rem;
        }
      }
      .summary {
        .intro {
          font-size: 5rem;
        }
        .role {
          font-size: 2rem;
        }
        .detail {
          font-size: 1.7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .home {
    .profile {
      .imageContainer {
        .profileImage {
          height: 15rem;
          width: 15rem;
        }
      }
      .summary {
        .intro {
          font-size: 3rem;
        }
        .role {
          font-size: 1.2rem;
        }
        .detail {
          font-size: 1rem;
        }
      }
    }
  }
}
