.navBar {
  padding: 2rem;
  padding-left: 3rem;
  position: fixed;
  height: 5rem;
  width: 100%;
  font-size: 4rem;
  .menuIcon {
    color: rgb(34, 1, 84);
    font-weight: bolder;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 2.5rem #593362;
    }
  }
}

.navDrawer {
  :global([class*="ant-drawer-body"]) {
    background-color: #e8d5d2;
  }
  .topContainer {
    height: 2rem;
    position: relative;
    .closeIcon {
      position: absolute;
      right: 0rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  .navItems {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .navItem {
      text-align: center;
      width: 100%;
      height: 4rem;
      font-size: 2rem;
      border-radius: 1rem;
      cursor: pointer;
      &:hover {
        --navItemColor: #765b79cc;
        color: whitesmoke;
        box-shadow: 0 0 2.5rem var(--navItemColor), 0 0 5rem var(--navItemColor);
        // background: rgb(108, 59, 116);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navBar {
    padding-left: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}
