.landingPage {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/drewBeamerCandleLight.png");
  background-size: cover;
  background-repeat: repeat-y;
  .displayContent {
    padding: 2rem;
  }
}
