@font-face {
  font-family: "Daisy Days";
  src: local("DaisyDays"),
    url("./assets/fonts/DaisyDays.ttf") format("truetype");
}

@font-face {
  font-family: "Beautiful People";
  src: local("Beautiful People"),
    url("./assets/fonts/BeautifulPeople.ttf") format("truetype");
}

@font-face {
  font-family: "Quick Kiss";
  src: local("QuickKiss"),
    url("./assets/fonts/QuickKiss.ttf") format("truetype");
}

@font-face {
  font-family: "Magical Stylish Script";
  src: local("MagicalStylishScript"),
    url("./assets/fonts/MagicalStylishScript.otf") format("opentype");
}

@font-face {
  font-family: "Dimsum Week";
  src: local("DimsumWeek"),
    url("./assets/fonts/DimsumWeek.ttf") format("truetype");
}

@font-face {
  font-family: "Shade of Adelyne";
  src: local("ShadeOfAdelyne"),
    url("./assets/fonts/ShadeOfAdelyne.ttf") format("truetype");
}

@font-face {
  font-family: "Lunch Fox";
  src: local("Lunch Fox"),
    url("./assets/fonts/Lunch\ Fox.ttf") format("truetype");
}
